body {
  margin: 0;
}

nav {
  background-color: black;
  color: white;
  display: flex;
}
/* funguje na Link component */
nav a {
  font-size: 30px;
  color: white;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
}
